<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns ="http://www.w3.org/ns/widgets"
				xmlns:gap="http://phonegap.com/ns/1.0"
				id		="com.phonegap.api-request"
				version	="1.0.0">
		<name>First App</name>
		<description>API Demo</description>
		<icon src="2cd43b_434c5b3602af429f927d290cbc27d790_mv2.png"/>
</widget>
